<header id="header">
  <div class="header-wrap">
    <h1>Welcome to the page all about rock music!</h1>
    <div class="header-bottom-section">
      <span class="header-source"><div class="logo"></div>music.com</span>
      <span class="clock">
        <div class="clock-img"></div>
        time
      </span>
      <span class="category">MUSIC</span>
    </div>
  </div>
</header>
<script src="../../js/banner.js"></script>