<header id="header">
  <div class="header-wrap">
    <h1>Welcome to the page all about rock music!</h1>
    <div class="header-bottom-section">
      <div class="header-source"><span class="logo"></span>music.com</div>
      <div class="clock">
        <div class="clock-img"></div>
        time
      </div>
      <span class="category">MUSIC</span>
    </div>
  </div>
</header>
<script src="../../js/banner.js"></script>