.band {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px 8%;
  .description {
    flex: 40%;
    max-width: 40%;
    padding: 20px;
    width: 40%;
    .description {
      flex: unset;
      margin-top: 0;
      max-width: unset;
      padding: 0;
      width: 100%;
    }
    p a:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .figure {
    flex: 30%;
    img {
      height: auto;
      max-width: 100%;
      width: 100%;
    }
  }
}
iframe {
  display: block;
  margin: 40px auto;
}