
@import url('https://fonts.googleapis.com/css?family=Roboto');

$font: Roboto, sans-serif;
$font-size: 24px;

$nav-bg: linear-gradient(to right, #ab69ba, #2f086f);
$footer-bg: rgba(242, 242, 242, 1);