<% include ../partials/head %>
<% include ../partials/nav %>
<% include ../partials/header %>
<article>
  <p>This is a practice page for practicing creating webpages using Express + EJS.  The content of this site is all about my favorite music, so click around and enjoy!</p>
</article>
<main class="album-grid">
    <% Object.keys(bands).forEach(function (id) { %>
    <div class="column">
        <div class="album-card">
            <div class="border"></div>
            <img src="../../images/album-artwork<%= bands[id].image_path %>" alt="album art image">
            <a href="<%= bands[id].location %>">
                <div class="description">
                    <p><%= bands[id].album %> by <%= bands[id].band %></p>
                    <p>Click Here for More!</p>
                </div>
            </a>
        </div>
    </div>
    <% }) %>
</main>

<% include ../partials/footer %>
